.card {
  height: 440px;
  margin: 50px;
  width: 350px;
  border: 2px solid black;
  display: inline-block;
}

.card:hover {
  background-color: papayawhip;
}

.cardTop {
  height: 90px;
  /* padding: 40px 0; */
  display: inline-block;
}

.cardBottom {
  height: 350px;
  display: inline-block;
}

.cardDate{
  color: black;
}

.cardDate:hover{
  color: gray;
}

.cardImage {
  height: 280px;
  width: 280px;
  margin: 30px;
  border: solid 5p;
  object-fit: cover;
}
