

.title-container {
    position: absolute;
    left: 20px
}

h1 {
    margin: 10px 0;
}

h2 {
    margin: 10px 0;
}

.Entry-heading {
    margin-top: 100px;
    width: 100%;
}

.Entry-body {
    margin: auto;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align:left
}

.food-photo {
    width: 650px;
    margin: 20px 0;
    align-items: left;
    /* position: relative;
    display: inline-block;
    left: 0; */
}

/* .entry-body-right-panel {
    padding: 20px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.entry-text-container {
    /* display: inline-block; */
    /* position: relative; */
    width: 100%;
    right: 0;
    margin: auto;
    text-align: left;
    /* text-align-last: start; */
}

