body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  margin: 5px;
  /* font-size: 2.5rem; */
}

h3 {
  margin: 5px;
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin: 40px;
}